<div class="container">
  <h1>Welcome to AZDD Login Page</h1> {{#if newUser}} {{#each newUser}}
  <div class="alert alert-danger">{{this.msg}}
  </div>
  {{/each}} {{/if}}
  <p>Please enter in Username and Password that you created.</p>
  <form method="POST" action="/login">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>