<div class="container">
  <h1>League Official Registration</h1> {{#if errors}} {{#each errors}}
  <div class="alert alert-danger">{{this.msg}}
  </div>
  {{/each}} {{/if}}
  <form method="POST" action="/api/referees">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="passwordMatch">Re-Enter Password</label>
      <input type="password" name="passwordMatch" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>