<div class="container-fluid team-background">

        
        <!-- nav bar -->
        <nav class="navbar fixed-top navbar-team navbar-expand-lg navbar-dark justify-content-between">

        <div class="expand navbar-expand">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link nav-right" href="index">Home</a>
            </li> 
          </ul>
        </div>

        <div class="btn-group">
          <button class="btn btn-secondary team-button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teams
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#bombshells">Bombshells</a>
            <a class="dropdown-item" href="#brutalbeauties">Brutal Beauties</a>
            <a class="dropdown-item" href="#coffindraggers">Coffin Draggers</a>
            <a class="dropdown-item" href="#doomsdayvalkyries">Doomsday Valkyries</a>
            <a class="dropdown-item" href="#runawaybrides">Runway Brides</a>
            <a class="dropdown-item" href="#schoolyardscrappers">Schoolyard Scrappers</a>
          </div>
        </div>  
   
        <div class="expand navbar-expand">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link nav-right" href="login">Login</a>
            </li>
          </ul>
        </div>
          
        </nav> 
    
    <!-- div for holding first scrolling picture -->
        <div class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/ArizonaDD.jpg">
    <!-- end of  div for first picture -->
        </div>

        <div class="team-div pb-5">
            <h1 class="text-center py-4">Home Teams</h1>
            <div class="container">
              <div class="row">
                <div class="col">
                  <img src="assets/icons/bombshells.png">
                </div>
                <div class="col">
                  <img src="assets/icons/brutalbeauties.png">
                </div>
                <div class="col ">
                  <img src="assets/icons/coffindraggers.png">
                </div>
                <div class="col ">
                  <img src="assets/icons/valkries.png">
                </div>
                <div class="col ">
                  <img src="assets/icons/runawaybrides.png">
                </div>
                <div class="col ">
                  <img src="assets/icons/schoolyardscrappers.png">
                </div>
              </div>
            </div>
        </div>
        
        <!-- div for holding bombshells scrolling picture -->
        <div id="bombshells" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/bombshells.jpg">
        <!-- end of  div for bombshells picture -->
        </div>

        <div class="bombshells-div pb-5">
            <h1  class="text-center py-4 bombshells">Bombshells</h1>
            <div class="container">
              <p>These Bombshells are one sizzling team but don't take their stunning looks for a weakness because that's when these fierce pin-ups will attack!</p>
              <p>Ready to fight and win these ruthless skaters are ready to drop bombs with their skates on, all over their foes in the track and ready for VICTORY over any zombie, schoolgirl, bride, or beauty queen.</p>
              <p>Get ready for the battle that the Bombshells are about to bring to the track because there is no turning back and these Bombshells aren't going out without a fight!</p>
            </div>
        </div>
    
        <!-- div for holding brutalbeauties scrolling picture -->
        <div id="brutalbeauties" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/brutalBeauties.jpg">
        <!-- end of  div for brutalbeauties picture -->
        </div>
        <div class="brutalbeauties-div pb-5">
            <h1  class="text-center py-4 brutalbeauties">Brutal Beauties</h1>
            <div class="container">
              <p>They may be pretty, but don't underestimate them; underneath their bubblegum exterior, the Brutal Beauties are tough as nails! These beauty queens ditched their sashes and tiaras in exchange for skates and never looked back. They'll steal the hearts of their admirers while crushing those of their foes.</p>
            </div>
        </div>
        
        <!-- div for holding coffindraggers scrolling picture -->
        <div id="coffindraggers" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/coffinDraggers.jpg">
        <!-- end of  div for coffindraggers picture -->
        </div>
        <div class="coffindraggers-div pb-5">
            <h1  class="text-center py-4 coffindraggers">Coffin Draggers</h1>
            <div class="container">
              <p>The prettiest girls in the morgue were too tough to be tamed by death. The grim reaper was forced to return them to the land of the living after discovering they were too vicious for the underworld.</p>
              <p>Back from the grave these ghoulish gals are seeking their revenge on the rink. Beware when they strap their skates on, hell hath no fury like a Coffin Dragger on the track!</p>
            </div>
        </div>

        <!-- div for holding doomsdayvalkyries scrolling picture -->
        <div id="doomsdayvalkyries" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/doomsdayValkyries.jpg">
        <!-- end of  div for doomsdayvalkyries picture -->
        </div>
        <div class="doomsdayvalkyries-div pb-5">
            <h1  class="text-center py-4 doomsdayvalkyries">Doomsday Valkyries</h1>
            <div class="container">
              <p>Meet the newest addition to the AZDD family!! The Doomsday Valkyries are Warrior Women who rose from the ashes of a post-apocalyptic world to take vengeance on their enemies of past. WITNESS them as they battle their way into the honored halls of Valhalla.</p>
            </div>
        </div>

        <!-- div for holding runawaybrides scrolling picture -->
        <div id="runawaybrides" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/runwayBrides.jpg">
        <!-- end of  div for runawaybrides picture -->
        </div>
        <div class="runawaybrides-div pb-5">
            <h1  class="text-center py-4 runawaybrides">Runaway Brides</h1>
            <div class="container">
              <p>The Runaway brides ain't got time to be tied down; they're too busy tearing up the track! One look at these these fierce ladies as they go head to head against their opponents, and you'll understand why their motto is "Till Refs do us Part!"</p>
            </div>
        </div>

        <!-- div for holding schoolyardscrappers scrolling picture -->
        <div id="schoolyardscrappers" class="parallax-window" data-z-index="2" data-parallax="scroll" data-image-src="assets/img/teams/schoolyardScrappers.jpg">
        <!-- end of  div for schoolyardscrappers picture -->
        </div>
        <div class="schoolyardscrappers-div pb-5">
            <h1  class="text-center py-4 schoolyardscrappers">Schoolyard Scrappers</h1>
            <div class="container">
              <p>These badass babes steal hearts… and your kid’s lunch money to boot! Thanks to the Derby Dames, the Schoolyard Scrappers are outta class forever and dying to lay a little “Come to Jesus” action on any team stepping toe-to-toe against them. So remember: If you can’t play rough stay out of the Schoolyard!</p>
            </div>
        </div>



    </div>
        

      



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>$(function() {
    $(window).scroll(function() {
    if($(document).scrollTop() > 100) {
      $('nav').addClass('shrink');
      $('button').addClass('shrink-team-button');
    }
    else {
    $('nav').removeClass('shrink');
    $('button').removeClass('shrink-team-button');
    }
  });

});</script>