
/*------league.html Styles-------*/
.space{
	margin: 5px;
}

.normal{
	margin:0;
	padding:0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: grey;
}